.login-warp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-title {
    font-size: 1.5rem;

}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}