.header {
    background-color: #fff;
    padding: 0;
}

.layout {
    min-height: 100vh;
}

.content {
    background-color: #fff;
    margin: 15px;
    padding: 30px;
}

.page_breadcrumb {
    margin: 15px 15px 0 15px;
}